<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Document</title>
</head>
<body>
    <main>
<!--     {{$data}}
 -->
    {{dias}}
    <ul>
        <li v-for="dia in dias" :key="dia">
            {{dia}}
        </li>
    </ul>
    <ul>
        <li v-for="(tarea, index) in tareas">
            {{index}} - {{tarea.nombre}}
            <small>({{tarea.prioridad}})</small>
        </li>
        
    </ul>
    <ul>
        <li v-for="(persona, key, index) in personas">
            {{index}} - {{key}} - {{persona}}
        </li>
        
    </ul>


    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>

</body>
</html>