<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <ul>
            <li v-for="tarea in tareas">
                {{tarea}}
            </li>
            <!--    <input type="text" placeholder="Introduce la tarea" v-model="nuevaTarea" />
            <input type="button" value="Añadir tarea" @click="agregarTarea()" /> -->
       <!--      <input type="text" placeholder="Introduce la tarea" v-model="nuevaTarea" />
            <input type="button" value="Añadir tarea" v-on:click="agregarTarea()" /> -->
        </ul>

        <form v-on:submit.prevent="agregarTarea"> <!-- @submit.prevent="agregarTarea" -->
            <input type="text" placeholder="Introduce la tarea" v-model="nuevaTarea" />
            <input type="submit" value="Enviar tarea">
        </form>

    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>

</body>

</html>